@media(max-width: 1280px) {


    .conteudo-principal {
        flex-direction: column;
        align-items: center;
        margin: 50px 50px;


    }

    .conteudo-principal-escrito-subtitulo::before {
        content: attr(data-text);
        position: absolute;
        font-style: italic;
        color: white;
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2.5px solid white;
        animation: animarElemento 5s linear infinite;
        filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px rgba(255, 255, 255, 0.384));

    }

    /*De 0% a 10% ele ficará com width 0, de 10% a 85% ele ficará com width 250px, e de 85% a 100% o width retornará a 0*/

    @keyframes animarElemento {

        0%,
        10%,
        100% {
            width: 0;
        }

        50%,
        85% {
            width: 250px;
        }


    }


}

@media(max-width: 520px) {

    .cabecalho{
        display: flex;
        justify-content: center;
    }

    .cabecalho-menu {
        gap: 5px;
    }

    .cabecalho-menu-item {
        padding: 10px;

    }

}


@media(max-width: 420px) {

    .cabecalho-imagem {
        height: 50px;
        width: 50px;
        transition: 0.4s;

    }

    .cabecalho-menu {
        gap: 5px;
    }

    .cabecalho-menu-item {
        padding: 10px;
        font-size: 11px;
    }


    .conteudo-principal-escrito-subtitulo::before {
        content: attr(data-text);
        position: absolute;
        font-style: italic;
        color: white;
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2.5px solid white;
        animation: animarElemento 5s linear infinite;
        filter: drop-shadow(0 0 5px white) drop-shadow(0 0 10px rgba(255, 255, 255, 0.384));

    }

    /*De 0% a 10% ele ficará com width 0, de 10% a 85% ele ficará com width 250px, e de 85% a 100% o width retornará a 0*/

    @keyframes animarElemento {

        0%,
        10%,
        100% {
            width: 0;
        }

        50%,
        85% {
            width: 250px;
        }


    }

}